{% load i18n %}
{% load a0tags %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="https://cdn.auth0.com/js/auth0/9.3.1/auth0.min.js"></script>
    <script>
        window.addEventListener('load', function () {

            var webAuth = new auth0.WebAuth({
                domain: '{% auth0_domain %}',
                clientID: '{% auth0_code_client_id %}',
                responseType: 'code', // code / token / id_token
                // audience: 'https://ephemerecreative.auth0.com/userinfo',
                // ^^^^^^^^   Necessary for JWT ^^^^^^^^^^^^^^^^^^^^^^^^^
                scope: 'openid email profile',
                redirectUri: '{% auth0_code_callback_url %}',
            });

            var loginBtn = document.getElementById('btn-login');

            loginBtn.addEventListener('click', function (e) {
                e.preventDefault();
                webAuth.authorize();
            });

            if (window.location.pathname.startsWith('/auth')) {
                webAuth.parseHash(function (err, authResult) {
                    if (authResult && authResult.accessToken && authResult.idToken) {
                        console.log(authResult);
                    } else if (err) {
                        console.log(err);
                        alert(
                            'Error: ' + err.error + '. Check the console for further details.'
                        );
                    }
                });
            }
        });
    </script>
    <style type="text/css">
        body {
            font-family: sans-serif;
        }
        .container {
            max-width: 600px;
            margin: auto;
            text-align: center;
        }
        .btn {
            padding: 10px 20px;
            border-radius: 10px;
            background: white;
            box-shadow: 0 10px 20px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>
<div class="container">
    <h1>{% trans "Login / Register" %}</h1>
    <a href="#" class="btn" id="btn-login">{% trans "Start" %}</a>
</div>
</body>
</html>